# Virtual Environments
venv/
.venv/
env/
bin/
lib/
include/
share/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Buildozer and Android build artifacts
.buildozer/
bin/
*.apk
*.aab

# OS specific
.DS_Store
Thumbs.db
